
html, body {
  margin:0;
  min-height: 100vh;
  flex-direction: column;
  background-image:
  linear-gradient(to top, #494949 0%, rgb(0, 0, 0) 100%);
  font-family: sans-serif;
  display: flex;

}


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%; 
  height: 100vh;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.692), rgba(128, 0, 128, 0.432)),
  url("./images/karaoke3.jpg");
  background-repeat: center no-repeat;
  /* height: 1000px;  */
  font-family: 'Orbitron', sans-serif;
  /* background-color: black; */
  /* border: solid green; */
}



.top-ten {
  color: rgb(160, 192, 252);
  
}

.whitney-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 400px;
  grid-template-areas: 
    ". a a ."
    ". a a .";

}

.whitney-box {
  color: rgb(189, 189, 189);
  grid-area: a;
  align-self: center;
  justify-self: center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.486);
  width: 100%;

}

.clickasong {
  color: rgb(207, 207, 207);
  cursor: pointer;
}


.lyric-wrapper {
  display: flex;
  padding: 10px;
  /* opacity: 0; */
  /* border: solid; */

}


.lyrics {
  flex-direction: row;
  position: center;
  margin: auto;
  font-family: sans-serif;
  font-size: 15px;
  background-color: rgba(102, 102, 102, 0.603);
  width: 60%;
  color: rgb(255, 255, 255);
  border: solid black;

}

.help-wrapper {
  display: flex;
/* border:solid; */
}

.help {
  flex-direction: row;
  position: center;
  margin: auto;
  width: 50%;
  padding-top: 25%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgba(63, 21, 63, 0.562);
 
}

.help h1 {
font-size: 20px;

}


.artist-style {
  color: rgb(136, 136, 136);
}


.links {
  color: white;
}

.button {
position: static;
bottom: -90px;

}

.submit-button {
  cursor: pointer;
}

.grid-list {
  display: flex;
  flex-direction: column;
}


.grid-item {
  background-color: rgba(183, 184, 193, 0.8);
  font-size: 20px;
  width: 20vw;
  display:flex;
  justify-content: center;
  margin: auto;

}

.header {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-form-container {
  display:flex;
}

.search-form {
  flex-direction: row;
  position: center;
  margin: auto;
}


.chosen-track-title-container {
  display: flex;
  padding: 10px;
  
}
.chosen-track-title {
  flex-direction: row;
  position: center;
  margin: auto;
  background-color: rgba(183, 184, 193, 0.8);
  font-size: 30px;
  color: rgb(0, 0, 0)1, 3, 141);
  
  
}

.footer {
  flex: none; /* 2 */
}

.Footer {
  padding: 1.5rem 1.5rem;
  background: gray(25%);
  color: gray(60%);
  font-size: 0.85em;
  overflow-x: hidden;
  text-align: center;
}

.Footer a {
  padding-bottom: 1px;
  border: 0;
  color: gray(90%);
}
.Footer a:focus,
.Footer a:active,
.Footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.Footer-credits {
  margin: 0;
  padding: 0;
}

.Footer-credit {
  display: block;
  margin: 0;
}

.Footer-creditSeparator {
  display: none;
}

/* If loading the social button fails */
.Footer-social a,
.Footer-social iframe {
  display: inline-block;
  margin: 0 0 1em;
  vertical-align: top;
}

@media (--break-md) {
  .Footer-credit {
    display: inline-block;
    margin: 0 0.25em;
  }
  .Footer-creditSeparator {
    display: inline-block;
    padding: 0 0.25em;
  }
}

.navbar {
  border: solid;
  display: flex;

}

.nav-link {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.home {
  border: solid;
}

/* **** mobile **** */

@media only screen and (max-width: 400px) {
.lyrics {
  border: solid;
  width: 100%;
} 

.help {
  width: 100%;
  padding: 5%;
}

.navigate {
  /* border: solid green; */
  color: white;
  margin: auto;
  font-size: 10px;
}

.navigate a {
  color: white;
}

.logo-header {
  /* border: solid; */
  margin: auto;
  width: 30px;
  padding: 0;

}

.nav-right {
  border: solid;
  display: flex;
  width: 100%;
}
}


