

.App {
  text-align: center;
  /* background-image: url("./images/karaoke3.jpg"); */
  background-repeat: no-repeat;
  height: 1000px; 
  font-family: 'Orbitron', sans-serif;
  /* background-color: black; */
  background-image: linear-gradient(to top, #494949 0%, rgb(0, 0, 0) 100%);
}

.top-ten {
  color: rgb(160, 192, 252);
  
}

.whitney-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 400px;
  grid-template-areas: 
    ". a a ."
    ". a a .";

}

.whitney-box {
  color: rgb(34, 61, 218);
  grid-area: a;
  align-self: center;
  justify-self: center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.486);
  width: 100%;

}

.clickasong {
  color: green;
  cursor: pointer;
}


.lyric-wrapper, .help-wrapper {
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 200px;
  grid-template-areas: 
    ". a a ."
    ". a a .";
  
}


.lyrics .help {
  color: rgb(34, 61, 218);
  grid-area: a;
  align-self: center;
  justify-self: center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.486);
  width: 60%;

}


/* 
.video-link-container {
    display: flex;
    flex-direction: row-reverse;
      width: 100%; 

  }


.video-link {
  max-width: 100%;
  max-height: 300px;
  align-self: flex-end;
  bottom: 30px;
} */

.artist-style {
  color: rgb(107, 107, 251);
}


body {
  margin: 0;
}

.links {
  color: white;
}

.button {
position: static;
bottom: -90px;

}

.submit-button {
  cursor: pointer;
}

.grid-list {
  /* display: grid;
  grid-row: auto;
  text-align: center; */
  display: flex;
  flex-direction: column;
}


.grid-item {
  background-color: rgba(183, 184, 193, 0.8);
  font-size: 20px;
  width: 20vw;
display:flex;
justify-content: center;
margin: auto;

}

.header {
  height: 100px;
  background-color: #333;
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}

body {
  background-color: rgb(199, 180, 95);
}

.checkbox {
  background-color: rgb(179, 179, 191);
  /* font-size: 30px; */
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #958ce3;
  box-shadow:
  /* The top layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
          /* The second layer */
      0 10px 0 -5px rgb(107, 107, 251),
          /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
          /* The third layer */
      0 20px 0 -10px rgb(107, 107, 251),
          /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
  padding: 30px;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #92c280;
  font-family: 'Orbitron', sans-serif;
  font-weight: 100;
  font-size: 50px;
  color: #333333;
}

input[type=checkbox] {
  margin-right: 10px;
  font-size: 30px;
}

input[type=checkbox]:focus {
  outline: 0;
}

.sad, .happy, .groovy, .sexy, .depressed {
  grid-area: a;
  align-self: center;
  justify-self: center;

}


